{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load bootstrap_ui_tags %}

{% block page-content %}
{{ block.super }}

{% row %}
  <button type="button" class="btn btn-default btn-lg pull-right"
          data-toggle="modal" data-target="#new_group_form">
    <i class="fa fa-plus-circle"></i> {% trans 'Create a Group' %}
  </button>
{% endrow %}

{% row %}
  {% column md="4" %}
    {% row %}
      <h1 class="text-center"> {% trans 'Your private groups' %}</h1>
    {% endrow %}

    {% row %}
      {% for group in private_groups %}
        {% column md="12" %}
          <div class="panel panel-danger">
            <div class="panel-heading">
              <h3 class="panel-title text-center"><b>{{ group.name }}</b>
                {% if group.owner == user %}
                  <a href="{% url 'delete_group' group.pk %}" class="pull-right">
                    <i class="fa fa-trash"></i>
                  </a>
                {% endif %}
              </h3>
            </div>
            <div class="panel-body">

            </div>
            <div class="panel-footer">
              <a class="btn btn-primary btn-block" href="{% url 'group_chat' group.pk %}">
                <i class="fa fa-sign-in"></i> {% trans 'Enter' %}
              </a>
            </div>
          </div>
        {% endcolumn %}
      {% empty %}
        {% trans 'You haven\'t joined no groups yet.' %}
      {% endfor %}
    {% endrow %}

  {% endcolumn %}

  {% column md="8" %}
    {% row %}
      <h1 class="text-center"> {% trans 'Groups you are participating' %}</h1>
    {% endrow %}

    {% row %}
      {% for group in user_groups %}
        {% column md="4" %}
          <div class="panel panel-success">
            <div class="panel-heading">
              <h3 class="panel-title text-center">
                <b>{{ group.name }}</b>
                {% if group.owner == user %}
                  <a href="{% url 'delete_group' group.pk %}" class="pull-right">
                    <i class="fa fa-trash"></i>
                  </a>
                {% endif %}
              </h3>
            </div>
            <div class="panel-body">

            </div>
            <div class="panel-footer">
              <a class="btn btn-primary btn-block" href="{% url 'group_chat' group.pk %}">
                <i class="fa fa-sign-in"></i> {% trans 'Enter' %}
              </a>
            </div>
          </div>
        {% endcolumn %}
      {% empty %}
        {% trans 'You haven\'t joined no groups yet.' %}
      {% endfor %}
    {% endrow %}
  {% endcolumn %}
{% endrow %}

<br>
<br>
{% row %}
  <h1 class="text-center"> {% trans 'Public groups you do not belong' %}</h1>
{% endrow %}

{% row %}
  {% for group in public_groups %}
    {% column md="4" %}
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title text-center"><b>{{ group.name }}</b>
            {% if group.owner == user %}
              <a href="{% url 'delete_group' group.pk %}" class="pull-right">
                <i class="fa fa-trash"></i>
              </a>
            {% endif %}
          </h3>
        </div>
        <div class="panel-body">

        </div>
        <div class="panel-footer">
          <a class="btn btn-warning btn-block" href="{% url 'join_group' group.pk %}">
            <i class="fa fa-plus-square"></i> {% trans 'Join' %}
          </a>
        </div>
      </div>
    {% endcolumn %}
  {% empty %}
    {% trans 'No more public groups available.' %}
  {% endfor %}
{% endrow %}

{% include "groups/new.html" with form=new_group_form %}

{% endblock %}