{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load bootstrap_ui_tags %}

{% block page-content %}
{{ block.super }}

{% row %}
  <h1 class="text-center"> {% trans 'Posts of group' %} <b>{{ group.name }}</b></h1>
{% endrow %}
<br>

{% row %}
  {% column md="8" md_offset="2" %}
    <form method="post" action="{% url 'group_chat' group.pk %}">
      {% csrf_token %}
      <div class="panel panel-default">
        <div class="panel-body">
          {% bootstrap_field post_form.content show_label=False placeholder='Tell us what you are thinking...' %}

          <button class="btn btn-success btn-md btn-flat pull-right">
            <i class="fa fa-send"></i> {% trans 'Post' %}
          </button>
        </div>
      </div>
    </form>
  {% endcolumn %}
{% endrow %}

{% row %}
  {% column md="8" md_offset="2" %}
    {% for post in posts %}

      {% row %}
        {% column md="8" %}
          <h3><strong>@{{ post.user.username }}</strong> <i>said</i>:
            <br><small>{% trans 'At' %} {{ post.time }}</small>
          </h3>
        {% endcolumn %}
        {% column md="4" %}

          {% if post.user == user %}
            <form method="post" action="{% url 'erase_post' post.pk %}">
              {% csrf_token %}
              <button class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
            </form>
          {% endif %}
        {% endcolumn %}
      {% endrow %}
      <p style="text-indent: 5%; word-wrap: break-word;"
         class="text-left">
         {{ post.content }}
      </p>
      <hr>
    {% empty %}
      {% trans 'There are no posts in this group yet' %}.
    {% endfor %}
  {% endcolumn %}
{% endrow %}

{% endblock %}

